**/архивы заказов
**/The_Hive
4 семестр/ООП/*.rar
**/УД/LibrarySQLApp
**/tflite_avto_num_recognation-main
**/CCPD2019-dl1
*.lnk
7 семестр/ИСИС/исис.xml
7 семестр/ИСИС/методичка
7 семестр/НИР
7 семестр/ПпЦП/материалы