**/архивы заказов
**/The_Hive
4 семестр/ООП/*.rar
**/УД/LibrarySQLApp
6 семестр/ТПР/07-02-2024_17-05-18.zip
6 семестр/ИСИС/07-02-2024_18-01-53.zip
**/tflite_avto_num_recognation-main
**/CCPD2019-dl1
*.lnk
**/7_семестр